---
import { indexProps } from '@/schema';
import { z } from 'zod';
import { getCollection, getEntry, render } from 'astro:content';
import { categories } from '@/consts';
import Layout from '@layouts/Index.astro';
import PostPreviewList from '@/pages/_PostPreviewList.astro';
import PostPreview from '../_PostPreview.astro';

export async function getStaticPaths() {
  return categories.map(({ title, slug, description }) => {
    return ({
      params: {
        category: slug
      },
      props: {
        title: `Cat Travel Guides to ${title}`,
        slug,
        description
      }
    })
  });
}

type Props = z.infer<typeof indexProps>;

const { title, slug, description } = Astro.props as Props;

const posts = await getCollection('posts');
const postsOfCategory = posts.filter(({ data: { category }}) => category === slug);

const dateModified = '2024-12-31T23:59:59+08:00'

---
<Layout title={title} description={description} dateModified={dateModified}>
  <main>
    <h1>{title}</h1>
    {postsOfCategory.length > 0 &&
      <PostPreviewList>
        {postsOfCategory.map(({ id, data: { title, transportation: { from }, dateVisited }}) =>
        <PostPreview categorySlug={slug} postId={id} title={title} from={from} dateVisited={dateVisited} />
        )}
      </PostPreviewList>
    }
  </main>
</Layout>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  main {
    padding-inline: var(--size-3);
    padding-block-start: var(--size-4);
    padding-block-end: var(--size-11);
  }

  @media (--md-n-above) {
    main {
      max-width: var(--size-content-3);
      margin-inline: auto;
      padding-inline: 0;
    }
  }

  h1 {
    transform: skewY(-2deg);
  }

</style>
