---
import { format } from "date-fns";

const { title, categorySlug, postId, from, dateVisited } = Astro.props;


const formatDateVisited = format(dateVisited, 'yyyy-MM-dd');

---

<li>
  <div class="card">
    <a class="link" href={`/${categorySlug}/${postId}`} />
    <strong class="title">{title}</strong>
    <span class="description">Visited on {formatDateVisited} from {from.place}.</span>
  </div>
</li>

<style>
  @import "open-props/media";

  li {
    padding-inline-start: 0;
    list-style-type: none;
  }

  li + li {
    margin-block-start: var(--size-4);
  }

  .card {
    position: relative;
  }

  .link {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .cta {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 40px;
    margin-inline-start: var(--size-1);
    background-color: hsl(var(--sand-7-hsl));
    vertical-align: text-top;
  }

  @media (--OSdark) {
    .cta {
      background-color: hsl(46, 100%, 48%);
    }
  }

  .title {
    display: block;
    position: relative;
    color: hsl(var(--sand-7-hsl));
    font-size: var(--font-size-fluid-2);
    line-height: var(--font-lineheight-1);
    transform: skewY(-2deg);
    transition: padding-inline-start ease-out 0.2s;
  }

  @media (--OSdark) {
    .title {
      color: hsl(46, 100%, 48%);
    }
  }

  .title::before,
  .title::after {
    width: max-content;
    content: "Read";
    padding-inline: var(--size-2);
    padding-block: var(--size-1);
    color: hsl(var(--sand-7-hsl));
    font-size: var(--font-size-fluid-1);
    background-color: hsl(var(--sand-7-hsl));
    transition: right ease-out 0.2s,
                background-color ease-out 0.2s;
  }

  @media (--OSdark) {
    .title::before,
    .title::after {
      background-color: hsl(var(--gray-8-hsl));
      /* background-color: hsl(46, 100%, 48%); */
    }
  }

  .title::before {
    display: none;
  }

  .title::after {
    display: inline-block;
    margin-inline-start: 8px;
    vertical-align: text-bottom;
  }

  @media (--md-n-above) {
    .title::before {
      display: block;
      position: absolute;
      top: 6px;
      right: calc(100% + 8px);
    }

    .title::after {
      display: none;
    }
  }

  .link:hover + .title {
    padding-inline-start: 16px;
    transition: padding-inline-start ease-in 0.2s;
  }

  .link:hover + .title::before {
    right: calc(100% - 8px);
    transition: right ease-in 0.2s,
                background-color ease-in 0.2s;
  }

  @media (--OSdark) {
    .link:hover + .title::before {
      color: hsl(var(--gray-9-hsl));
      background-color: hsl(46, 100%, 48%);
    }
  }

  .description {
    display: inline-block;
    color: hsl(var(--gray-7-hsl));
    font-size: var(--font-size-fluid-1);
    transform: skewY(-2deg);
  }

  @media (--OSdark) {
    .description {
      color: hsl(var(--gray-5-hsl));
    }
  }

</style>
