---
import { categories } from '@/consts';
import Layout from '@layouts/Index.astro';
import { getCollection } from 'astro:content';
import PostPreviewList from '@/pages/_PostPreviewList.astro';
import PostPreview from '@/pages/_PostPreview.astro';

const posts = await getCollection('posts');

function filterPosts(categorySlug: string) {
  return posts.filter(({ data: { category }}) => {
    return categorySlug === category
  })
}

---

<Layout>
  <main>
    {categories.map(({ title, slug }) => {
      const postsOfCategory = filterPosts(slug);

      return (
        <>
          <h2>{title}</h2>
          {postsOfCategory.length > 0 &&
            <PostPreviewList>
              {postsOfCategory.map(({ id, data: { title, transportation: { from }, dateVisited }}) =>
                <PostPreview
                  categorySlug={slug}
                  postId={id}
                  title={title}
                  from={from}
                  dateVisited={dateVisited}
                />
              )}
            </PostPreviewList>
          }
        </>
      )
    })}
  </main>
</Layout>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  main {
    padding-inline: var(--size-3);
    padding-block-start: var(--size-4);
    padding-block-end: var(--size-11);
  }

  @media (--md-n-above) {
    main {
      max-width: var(--size-content-3);
      margin-inline: auto;
      padding-inline: 0;
    }
  }

  h2 {
    margin-block-start: var(--size-4);
    font-size: var(--font-size-fluid-3);
    transform: skewY(-2deg);
  }

  h2:first-of-type {
    margin-block-start: 0;
  }

</style>
